.App {
  text-align: center;
}

.titulo {
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.one {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #bb33a4;
}

.wrapper {
  max-width: 1800px;
  margin: 2rem auto;
}

.wrapper > div {
  text-align: center;
  border-radius: 2.5rem;
  background-color: #e7e7e7;
  padding: 2em;
  color: black;
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.16);
}

.wrapper hr {
  padding-bottom: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(150px, auto);
}

@media (max-width: 980px) {
  
}



